<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GestureRecognizerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9900AA061F7F329D00B5320F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9900AA1F1F7F329E00B5320F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9900AA2A1F7F329E00B5320F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
